* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

body {
  /* min-height: 100vh; */
  min-height: 100%;
  background-color: #f0f0f0;
}

#root,
#root > div {
  height: 100%;
}

.btn {
  border: none;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

.btn-primary {
  background-color: rgb(129, 216, 201);
}

.btn-primary:hover {
  cursor: pointer;
  background-color: rgb(117, 187, 175);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 734px) {
  body {
    overflow-x: hidden;
  }
}
